@model IEnumerable<Libreria.Entidades.Autor>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de Autores</h4>
<hr />
<p>
    <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Create")'">
       Nuevo
   </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayName("<----------- Opciones ----------->")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nacionalidad)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id} , new {@class="btn btn-outline-warning"})
                    @Html.ActionLink("Detalle", "Details", new {id=item.Id }, new { @class="btn btn-outline-info"})
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new {@class="btn btn-outline-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
